<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Commit {{.C.Hash}} - {{.SiteInfo.ProjectName}} Builds</title>
</head>
<body>
	{{ $root := . }}
	<h1>Commit {{.C.Hash}}</h1>
	<p>Author: {{.C.Ref.Author.Name}} at {{.C.Ref.Author.When}}</p>
	<p>Message: {{.C.Ref.Message}}</p>
	<p>This commit has {{len .Builds}} available CI builds:</p>

	{{range $b := .Builds}}
	<div class="build">
		<h2>APPVEYOR BUILD {{$b.Info.BuildId}}:</h2>
		<p>This build (<a href="{{$b.BRI.AppVeyor.EventData.BuildURL}}">ID {{$b.Info.BuildId}}</a>) started at {{$b.Info.Date}}.</p>
		{{if $b.Info.Successful}}
			<p>This build contains the following {{len $b.Artefacts}} artefacts:</p>
			<table>
				<tr>
					<th>Job</th>
					<th>Name</th>
					<th>Size</th>
				</tr>
				{{range $a := $b.Artefacts}}
				<tr>
					<td>{{$a.JobName}}</td>
					{{if $a.Available}}
						<td><a href="{{$root.SiteInfo.UrlPrefix}}/download_build?commit={{$root.C.Hash}}&build_id={{$b.Info.BuildId}}&artefact_id={{$a.UniqueID}}">{{$a.Name}}</a></td>
						<td>{{$a.Size}}</td>
					{{else}}
						<td>{{$a.Name}}</td>
						<td>UNAVAILABLE</td>
					{{end}}
				</tr>
				{{end}}
			</table>
		{{else}}
			<p>This build failed!</p>
		{{end}}
	</div>
	{{end}}
</body>
</html>
