<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>{{.SiteInfo.ProjectName}} Builds</title>
	<style>
#mainSvg {
	display: float;
	width: 40em;
	background: red;
}

body {
}
	</style>
</head>
<body>
	{{ $root := . }}

	<svg id="mainSvg" viewBox="0 0 800 {{.Height}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<style>
			div {
				color: white;
				font: 18px serif;
				height: 100%;
				overflow: auto;
			}

			#testing {
				fill: blue;
			}

			.line {
				stroke: blue;
			}

			.merge-line {
				stroke: green;
			}

			.summary {
				font: 0.75em;
			}

			.build-link {
				text-decoration: underline;
				fill: blue;
			}

			* {
				stroke: none;
			}
		</style>

		<!--
		<polygon points="0,0 0,200 200,200 200,0" id="testing" />
		<polygon points="5,5 195,10 185,185 10,195" />
		-->

		{{range $i, $c := .Commits}}
		<text x="{{$c.Column.X}}" y="{{$c.Y}}">{{$i}}</text>
		<circle cx="{{$c.Column.X}}" cy="{{$c.Y}}" r="5" fill="green" />
		{{if eq $c.Column.X $c.ParentColumn.X}}
			<line x1="{{$c.Column.X}}" y1="{{$c.Y}}" x2="{{$c.ParentColumn.X}}" y2="{{$c.ParentY}}" class="line" />
		{{else}}
			<line x1="{{$c.Column.X}}" y1="{{$c.Y}}" x2="{{$c.ParentColumn.X}}" y2="{{$c.Y}}" class="line" />
			<line x1="{{$c.ParentColumn.X}}" y1="{{$c.Y}}" x2="{{$c.ParentColumn.X}}" y2="{{$c.ParentY}}" class="line" />
		{{end}}
		{{if $c.HasBuilds}}<a class="build-link" xlink:href="{{$root.SiteInfo.UrlPrefix}}/view_build?commit={{$c.Commit.Hash}}">{{end}}
		{{if not $c.HideDuplicateText}}<text x="250" y="{{$c.Y}}" class="summary">{{$c.Summary}}</text>{{end}}
		{{if $c.HasBuilds}}</a>{{end}}
		{{end}}

		<!-- Add the 'merge lines' - the extra parent lines running to merge commits -->
		{{range $l := .MergeLines}}
			<line x1="{{$l.DstCol.X}}" y1="{{$l.DstY}}" x2="{{$l.SrcCol.X}}" y2="{{$l.DstY}}" class="merge-line" />
			<line x1="{{$l.SrcCol.X}}" y1="{{$l.SrcY}}" x2="{{$l.SrcCol.X}}" y2="{{$l.DstY}}" class="merge-line" />
		{{end}}

		<!-- Common use case: embed HTML text into SVG -->
		<!-- <foreignObject x="20" y="20" width="160" height="160">
			<!--
			In the context of SVG embedded in an HTML document, the XHTML
			namespace could be omitted, but it is mandatory in the
			context of an SVG document
			-- >
			<div xmlns="http://www.w3.org/1999/xhtml">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis mollis
			mi ut ultricies. Nullam magna ipsum, porta vel dui convallis, rutrum
			imperdiet eros. Aliquam erat volutpat.
			</div>
		</foreignObject>
		-->
	</svg>
</body>
</html>
